.nav {

    background-color: #f4f9fb !important;
    position: relative;
    color:
        #2C3E50;

}

.header {
 
    width: 1800px;
    border-bottom: 1px solid white;
    padding: 55px;
    margin: 0px;
    border-radius: 35px;
    box-shadow: 0px 1px rgb(206, 206, 206) !important;


}

.box {
    position: absolute;
    width: 1242px;
    height: 100px;
    left: 255px;
    top: 2px;
    background: #20A3CC;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;

}

::-webkit-scrollbar {
    display: none;
}


.boxitems {
    position: absolute;
    width: 921px;
    height: 80px;
    left: 0px;
    top: 25px;
    /*overflow-x: scroll;*/
}

.dash {
    box-sizing: border-box;

    position: absolute;
    width: 115px;
    height: 80px;
    left: 12px;
    top: -14px;
    background: #FFFFFF;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    color: #2C3E50;


}

.non_dash {
    box-sizing: border-box;

    position: absolute;
    width: 115px;
    height: 80px;
    left: 12px;
    top: -14px;

    background: #20A3CC;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;



}

.dash_text {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 16px;
    top: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #2C3E50;

}

.nondash_text {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 16px;
    top: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

.line {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 127px;
    top: -8px;
    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.mc {
    box-sizing: border-box;

    position: absolute;
    width: 192px;
    height: 80px;
    left: 130px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_mc {
    box-sizing: border-box;

    position: absolute;
    width: 192px;
    height: 80px;
    left: 130px;
    top: -14px;

    background: #20A3CC;
    border-radius: 10px;
    cursor: pointer;
}



.mc_text {
    position: absolute;
    width: 147px;
    height: 22px;
    left: 23px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonmc_text {
    position: absolute;
    width: 147px;
    height: 22px;
    left: 23px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}



.line1 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 322px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.me {
    box-sizing: border-box;

    position: absolute;
    width: 187px;
    height: 80px;
    left: 323px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


.non_me {
    box-sizing: border-box;

    position: absolute;
    width: 187px;
    height: 80px;
    left: 323px;
    top: -14px;

    background: #20A3CC;
    border-radius: 10px;
    cursor: pointer;
}

.me_text {
    position: absolute;
    width: 140px;
    height: 22px;
    left: 23px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;


}

.nonme_text {
    position: absolute;
    width: 140px;
    height: 22px;
    left: 23px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;


}

.line2 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 509px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.mr {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 510px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;

}

.non_mr {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 510px;
    top: -14px;

    background: #20A3CC;
    border-radius: 10px;
    cursor: pointer;

}

.mr_text {
    position: absolute;
    width: 118px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonmr_text {
    position: absolute;
    width: 118px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.line3 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 679px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.mf {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 680px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_mf {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 680px;
    top: -14px;

    background: #20A3CC;
    border-radius: 10px;
    cursor: pointer;
}

.mf_text {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 32px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonmf_text {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 32px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}


.line4 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 850px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.ml {
    box-sizing: border-box;

    position: absolute;
    width: 155px;
    height: 80px;
    left: 852px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_ml {
    box-sizing: border-box;
    position: absolute;
    width: 155px;
    height: 80px;
    left: 852px;
    top: -14px;
    background: #20A3CC !important;
    border-radius: 10px;
    cursor: pointer;
}


/*background: #20A3CC;
 border-radius: 10px;*/

.ml_text {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 32px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonml_text {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 32px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.line5 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 1008px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.mp {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1010px;
    top: -14px;

    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_mp {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1010px;
    top: -14px;

    background: #20A3CC !important;
    border-radius: 10px;
    cursor: pointer;
}


.mp_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonmp_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.line6 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 1180px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.mpa {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1182px;
    top: -14px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_mpa {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1182px;
    top: -14px;
    background: #20A3CC !important;
    border-radius: 10px;
    cursor: pointer;
}

.mpa_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonmpa_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 25px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.line7 {
    position: absolute;
    width: 1px;
    height: 70px;
    left: 1352px;
    top: -8px;

    background: #68BBD5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swa {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1355px;
    top: -14px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.non_swa {
    box-sizing: border-box;

    position: absolute;
    width: 170px;
    height: 80px;
    left: 1355px;
    top: -14px;
    background: #20A3CC !important;
    border-radius: 10px;
    cursor: pointer;
}

.swa_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 50px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C3E50;
}

.nonswa_text {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 50px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}


.content {
    position: absolute;
    width: 1880px;
    height: 755px;
    left: 20px;
    top: 140px;
    margin: -10px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(206, 206, 206);
    overflow-x: scroll;
    font-family: 'Open Sans', sans-serif;


}

.footer {
    position: absolute;
    width: 1915px;
    height: 30px;
    left: -5px;
    top: 925px;
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 1px 1px 4px 1px rgb(206, 206, 206);


}

.foot_text {
    position: absolute;
    width: 330px;
    height: 20px;
    left: 715px;
    top: -10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #8091A3;

}




.user {
    box-sizing: border-box;
    position: absolute;
    width: 365px;
    height: 100px;
    left: 1530px;
    right: 0%;
    top: 3px;
    bottom: 0%;
    background: #EF9035;
    opacity: 0.1;
    border-radius: 10px;
}


