.Login{
    background-size: 100%;
}



.text{
    position: absolute;
    width: 780px;
    height: 280px;
    left: 75px;
    top: 307px;
    background: #000000;
    opacity: 0.8;
    
    
}



 .h1Text{
    position: absolute;
    width: 660px;
    height: 193px;
    left: 85px;
    top: 2px;
    padding: 5px;
    font-family: 'open sans';
    font-style: normal;
    font-weight: 1000 !important;
    font-size: 59px;
    line-height: 64px;
    
    color: #FFFFFF;
   

    
    
 }

.loginform{
    position: absolute;
    width: 470px;
    height: 635px;
    left: 1191px;
    top: 112px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    

}


.username{
    position: absolute;
    width: 418.92px;
    height: 58.18px;
    left: 10px;
    top: 95px;
    background: #F2F7F9 ;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
}

.userinput{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 80px;
    top: 11px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border:none;
    color: #A1A1A1;

}

.pass{
    position: absolute;
    width: 418.92px;
    height: 58.18px;
    left: 10px;
    top: 180px;
    background: #F2F7F9;
    box-shadow: 0px 0px 5px (0, 0, 0, 0.15);
    border-radius: 100px;
  
   
}

.password{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 80px;
    top: 11px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #A1A1A1;


}

.button{
    position: absolute;
    width: 256.01px;
    height: 58.18px;
    left: 106px;
    top: 293px;
    background: #207EA9;
    border-radius: 100px;
    cursor:pointer;
}

.butt{
    position: absolute;
    width: 257px;
    height: 58.18px;
    left: 2px ;
    top: 2px;
    font-family: 'open sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    text-transform: uppercase;
    color: #FFFFFF !important;
    border-radius: 100px;
}

.form1{
    position: absolute;
    top: 210px;
    align-items: center;
    left: 20px;
}

.icon{
    position: absolute;
    width: 20px;
}



