.content1 {
    position: absolute;
    width: 1880px;
    height: 450px;
    left: 20px;
    top: 140px;
    margin: -10px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(206, 206, 206);
    overflow-x: scroll;
    font-family: 'Open Sans', sans-serif;


}



.data {
    position: absolute;








}

.datas {

    border: 1px solid white;
    border-radius: 5px;
    height: 95px;
    width: 300px;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;








}

.content2 {
    position: absolute;
    width: 1880px;
    height: 200px;
    left: 20px;
    top: 610px;
    margin: -10px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(206, 206, 206);
    overflow-x: scroll;
    font-family: 'Open Sans', sans-serif;


}

.icon_box {

    border: 1px solid green;


}